@import "tailwindcss";

@theme {
    --color-brand-green: #99cc33;
    --color-brand-dark: #0f172a;
    --color-brand-teal: #10B981;
    /* Tasarımdaki parlayan yeşil/mavi tonu */

    --font-sans: 'Plus Jakarta Sans', sans-serif;
}