---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Solution from "../components/Solution.astro";
import Cases from "../components/Cases.astro";
---

<Layout title="MATERIX | Nanoteknoloji ile Güneş Enerjisinde Devrim">
	<main>
		<Hero />

		<div id="about">
			<Solution />
		</div>

		<div id="cases">
			<Cases />
		</div>
	</main>
</Layout>
